################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DSAConcepts
/BitManipulation/bin/
/BitManipulation/obj/
*.v2
/DSAConcepts/bin/
/DSAConcepts/obj/