################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DSAConcepts
/BitManipulation/bin/Debug/net6.0
/BitManipulation/obj/Debug/net6.0
/BitManipulation/obj
/DSAConcepts/obj
